.bg-white{
    background-color: orange;
}

.modal{
    background-color: rgba($color: darken(orange, 50), $alpha: 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content{
    background-color: rgba($color: white, $alpha: 1.0);
    border: solid orange;
    border-radius: 25px;
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 5px 5px rgba($color: black, $alpha: 0.5);
    overflow: hidden;
}
.close_modal{
    display: flex;
    justify-content: flex-end;
    background-color: orange;
    height: 30px;
    width: 100%;
    padding: 10px;

    &:hover{
        cursor: pointer;
    }
}

.modal_mail{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-size: larger;
    padding: 10px;
}

.modal_text{
    padding:10px;
    
}

.about_more{
    font-size: small;
    margin-top: 10px;
    padding:10px;
}
.about{
    padding:10px;
}

#addToCartBtn{
    margin-top: 100px;
    
}

#customerDetails{
    padding: 15px;
    display: table-column;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.carteLine{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nameFixedSize{
    width: 150px;
}

#cartBox{
    display: flex;
    justify-content: space-around;
    width: 100%;  
}

#checkoutBtn{
    display: flex;
    justify-content: space-around;    
}

.iconRemove{
    //background-color: blue;
    color: lightgrey;
    width: 50px;
    height: 25px;
    transform: translateX(120px);

    &:hover{
        color: grey;
        cursor: pointer;
    }
}

#iconCamera{
    background-color: blue;
    width: 50px;
    height: 25px;
}

#purchaseConfirmation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    z-index: 10;
    transform: translateZ(10px);
    box-shadow: 5px 5px 5px 5px rgba($color: black, $alpha: 0.5);
}

#confirmationImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    background-image: url("/img/camera-lens-blurred.jpg");
    width: 750px;
    height: 400px;
    z-index: 1;
}

#blueCircle{
    visibility: hidden;
}